<!DOCTYPE html>
<html lang="pt-br"></html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/tabulator_bootstrap4.css">
</head>
<body>
    {% include "menu.html" %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/42d4f5aea4.js" crossorigin="anonymous"></script>
    <script src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
    <script src="/static/js/tabulator.min.js"></script>
    <div>
        {% block conteudo %}{% endblock %}
    </div>
</body>
</html>